body {
    background-color: #666;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    font-family: 'Press Start 2P', cursive;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

container {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    width:1000px; height:1000px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

score {
    color:white;
    font-size : 22px;
    padding:20px;
    top:2%;
    text-shadow: 3px 0 red, 0 1px red, 1px 0 red, 0 3px red;
}

lifes { 
    color:white;
    font-size : 22px;
    padding:20px;
    top:2%;
    right:2%;
    text-shadow: 3px 0 red, 0 1px red, 1px 0 red, 0 3px red;
}

title{
    color:white;
    text-shadow: 3px 0 red, 0 1px red, 1px 0 red, 0 3px red;
    font-size: 30px;
    padding:20px;
    margin-left: 25%;
    margin-top: 2%;
    
}

start { 
    color:white;
    text-shadow: 3px 0 red, 0 1px red, 1px 0 red, 0 3px red;
    font-size: 50px;
    z-index:1000;
    text-align: center;
    margin-left: 4%;
    margin-top: 35%;
    animation: floating 3s ease-in-out infinite;
}

cat {
    background-image: url(../images/cat.png);
    width:145px; height: 128px;
}

yellowRing {
    background-image: url(../images/yellowRing.png);
    width: 50px; height:50px;    z-index: 9;
}

blackRing {
    background-image: url(../images/blackRing.png);
    width: 50px; height:50px;    z-index: 9;
}

catRight{
    background-image: url(../images/catRight.png);
    width:146px; height: 128px;
}

greenRing {
    background-image: url(../images/greenRing.png);
    width:50px; height: 50px;  
    
}

redRing{
     background-image: url(../images/redRing.png);
     width:50px; height: 50px; 
}

gameOver{
    z-index: 9;
    font-size: 60px;
    margin-left: 25%;
    color: white;
    text-shadow: 3px 0 red, 0 1px red, 1px 0 red, 0 3px red;
}



@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
